.hidden {
    opacity: 0;
}

.none {
    display: none;
}

.error {
    color: red;
}

.fade-in {
    animation: fadein 0.3s ease-in-out;
    animation-fill-mode: backwards;
}

.border {
    text-align: left;
    margin: 2em 4em 2em 4em;
    border: 2px solid #000000;
    padding: 0.75em 2em 0.75em 2em;
    border-radius: 0.5em;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}