.hidden {
    opacity: 0;
}

.none {
    display: none;
}

.error {
    color: red;
}

.fade-in {
    animation: fadein 0.3s ease-in-out;
    animation-fill-mode: backwards;
}

.border {
    text-align: left;
    border: 2px solid #000000;
    padding: 0.75em 2em 0.75em 2em;
    border-radius: 0.5em;
}

.outer-border {
    margin: 2em 4em 2em 4em;
}

.box {
    background-color: #F4F4F4;
    margin: 2em 8em 0 8em;
    padding-top: 2em;
    padding-bottom: 1em;
    border-radius: 1em;
}

.clear {
    font-size: 1.5em;
    color: #555555;
    cursor: pointer;
}

.clear::after{
    content: "✖";
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}