.header {
    display: flex;
    background-color: #004C3F;
    padding: 1em 0 1em 3em;
    align-content: center;
  }
  
  .header > .icon {
    height: 3em;
  }
  
  .header > .title {
    color: white;
    margin-left: 0.5em;
    margin-top: 0.2em; /* if this is still here when i submit, i havent had a chance to fix it */
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }