.header {
    display: flex;
    background-color: #004C3F;
    padding: 2vh 0 2vh 3vw;
    align-content: center;
  }
  
  .header > .icon {
    height: 5vh;
  }
  
  .header > .title {
    color: white;
    margin-left: 1vw;
    margin-top: 0.5vw; /* if this is still here when i submit, i havent had a chance to fix it */
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }